@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        width: 98vw;
        height: 98vh;
        grid-template-columns: 20vw 63vw 14vw;
        grid-template-rows: 10vh 30vh 20vh 37vh;
        grid-template-areas:
            "logo current icons"
            "sidebar imageL imageL"
            "sidebar imageL imageL"
            "sidebar main main";
        grid-gap: 0.5em;
    }
    .logo {
        padding: 0.5em;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        height: 100vh;
        display: grid;
        width: 100vw;
        grid-template-columns: 20vw 40vw 40vw;
        grid-template-rows: 10vh 10vh 35vh 50vh 15vh;
        grid-template-areas:
            "logo logo logo"
            "current current icons"
            "imageL imageL imageL"
            "sidebar main main"
            "sidebar2 main main";
        grid-gap: 0.5rem;
    }
    .logo {
        padding: 0.5em;
        grid-area: logo;
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}

.title {
    font-size: 1rem;
}

.header{
    background: #333333;
    grid-area: header;
}

#container-current {
    background: #e0ddd9;
    grid-area: current;
    border-radius: 20px;
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 300%;
    text-align: center;
    font-weight: 600;
}

.text {
    font-size: x-large;
    text-align: left;
}

.container-icons {
    background: #ADD8E6;
    grid-area: icons;
    padding: 1em;
    border: 2px dashed black;
    display: flex;
    flex-wrap: nowrap;

    justify-content: flex-end;
    align-items: center;
}

#cart, #search {
    max-width: 50%;
    height: auto;
}


.container-sidebars {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
}

#container-sidebar{
    background: #e0ddd9;
    border-radius: 20px;
    white-space: pre-line;
    margin-bottom: 3em;
    padding-top: 1em;
    padding-left: 2em;
    height: fit-content;
    font-size: 70%;
}

.container-sidebar2{
    padding: 1em;
    border-radius: 20px;
    background: #e0ddd9;
    align-self: center;
    justify-self: center;
    font-size: 150%;
}

.container-content3{
    background: blue;
    grid-area: content3;
}

.container-imageLarge{
    position: relative;
    grid-area: imageL;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container-hello {
    position: absolute;
    top: 20%;
    left: 0;
    display: block;
    height: fit-content;
    width: fit-content;
    max-width: 50%;
    border: 1px solid #e0ddd9;
    border-radius: 20px;
    border-radius: 20px;
    padding: 1em;
    z-index: 1;
    font-size: x-large;
    backdrop-filter: blur(100px);
}

.hello {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container-main{
    max-width: 100%;
    max-height: 100%;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    text-align: center;
    justify-content: start;
    align-items: center;
}

.container-item {
    height: 70%;
    width: 23%;
    margin-right: 1em;
    margin-bottom: 1em;
}

.container-image {
    position: relative;
    max-width: 100%;
    height: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
}

.image {
    position: absolute;
    bottom: 10%;
    left: 40%;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 40%;
    width: auto;
    display: flex;
    justify-self: center;
}

.container-image:hover .image {
    opacity: 1;
}

.container-text {
    text-align: center;
}

.list {
    list-style: none;
    line-height: 1;
    font-size: xx-large;
    font-weight: 500;
}

.text2 {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#number2 {
    position: relative;
    top: 0;
    left: 0;
}

.amount {
    position: absolute;
    bottom: 0;
    right: 0.5em;
    width: 1.5em;
    height: 1.5em;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#number {
    font-size: x-large;
}

.main-button {
    border: none;
    background: none;
    padding: 0;
}
